<p>
    <select id="versionSelect" onchange="var newVersion = this.options[this.selectedIndex].value; window.location = '/' + newVersion;">
        <option value="test1">test1</option>
        <option value="test2">test2</option>
<!--         <option value="4.1.0">4.1.0</option>
        <option value="4.0.0">4.0.0</option>
        <option value="3.4.2">3.4.2</option> -->
    </select>
    <script type="text/javascript">
        let baseUrlMatch = baseurl.match('.*\/([^\/]*)\/');
        if (baseUrlMatch && baseUrlMatch[1] !== undefined) {
            $('#versionSelect').val(baseUrlMatch[1]);
        }
    </script>
</p>
